* { margin: 0; padding: 0; border: 0; font-size: 100%; }
#my-class {
    color: orangered;
    border: 1px solid orangered;
    background-color: orangered;
    padding: 0.5cm;
    text-align: center;
	background-image: url("../images/bunchofbooks.jpg")
	
}
.my-paragraph {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: orange;
    border: 1px solid #FF5F00;
    background-color: blue;
    text-align: center;
}
.my-name {
    color: black;
    border: 1px solid #BFC8FF;
    padding: 0.1cm;
    background-color: orange;
    text-align: left;
	font-family:  Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}
